a {
  color: #000;
}

.first-screen {
  width: 100%;
  height: 90vh;
}

.profile-image {
  width: 40vmin;
  height: 40vmin;
  border: dashed #fff;
  border-radius: 50%;
}

.edu-image {
  width: 15vmin;
  border: dashed #fff;
  border-radius: 10%;
}

.contact-image {
  width: 5vmin;
}

.contact-link {
  text-decoration: underline;
}

.section-head {
  height: 20vh;
}

.section-bottom {
  height: 20vh;
}
